
html,body {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header,.list {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 20px 0;
	padding: 15px;
}

.header {
	flex-grow: 0;
}

.list {
	position: relative;
	flex-grow: 1;
	overflow: hidden;
}
.list.-stretch {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-scroller {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 15px;
}
.list-scroller:focus {
	outline: 0;
}

.books-wrapper {
	position: relative;
}

.books-holder {
	overflow: auto;
}

.book {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #eee;
}
.book-title {
	font-size: 1.5em;
}
.book-sub span {
	padding-right: 10px;
}